<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS Tutorial 入门教程学习笔记 - 记往开来</title>
  <meta name="author" content="Xiao Liu">

  
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html">
  <link href="/favicon.png" type="image/png" rel="icon">
  <link href="/atom.xml" rel="alternate" title="记往开来" type="application/atom+xml">

  <!-- http://opengraphprotocol.org/ -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html">
  <meta property="og:title" content="AngularJS Tutorial 入门教程学习笔记 - 记往开来">
  

  <script src="/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>

<link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">


  
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

  

</head>

  <body   >
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      <header role="banner">
        <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">记往开来</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a rel="index" href="/">Blog</a>
                </li>
                <li >
                    <a href="/blog/archives">Archives</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="/atom.xml" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="/images/rss.png" alt="RSS">
                    </a>
                </li>
                
            </ul>
            
                <form class="search navbar-form navbar-right" action="https://www.google.com/search" method="GET">
                    <input type="hidden" name="q" value="site:xiaoliuai.github.io">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            
        </div>
    </div>
</nav>


      </header>
      <div id="main" role="main" class="container">
        <div id="content">
          <div class="row">
  <div class="page-content col-md-9" itemscope itemtype="http://schema.org/Blog">
    <meta itemprop="name" content="记往开来" />
    
    <meta itemprop="url" content="http://xiaoliuai.github.io" />
    <article class="hentry" role="article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      
  <header class="page-header">
    
      <p class="meta text-muted text-uppercase">
        












<span class="glyphicon glyphicon-calendar"></span> <time datetime="2014-12-24T00:00:00+01:00"  data-updated="true" itemprop="datePublished dateCreated">ordinal</time>
        
           | <a href="#disqus_thread" itemprop="discussionUrl"
             data-disqus-identifier="http://xiaoliuai.github.io">Comments</a>
        
      </p>
    
    
    <h1 class="entry-title" itemprop="name headline">
        AngularJS Tutorial 入门教程学习笔记
        
    </h1>
    
  </header>


<div class="entry-content clearfix" itemprop="articleBody description"><div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1. 01和02,静态模板和AngularJS模板</a></li>
<li><a href="#sec-2">2. 03 迭代器</a></li>
<li><a href="#sec-3">3. 04双向绑定</a></li>
<li><a href="#sec-4">4. 05XHR和依赖注入</a></li>
<li><a href="#sec-5">5. 06链接与图片模板</a></li>
<li><a href="#sec-6">6. 07路由与多视图 &amp; 08更多模板</a></li>
<li><a href="#sec-7">7. 09过滤器</a></li>
<li><a href="#sec-8">8. 10事件</a></li>
<li><a href="#sec-9">9. 11Rest和定制服务</a></li>
<li><a href="#sec-10">10. 12 Animations</a></li>
</ul>
</div>
</div>
<p>
学习<a href="http://angularjs.cn/T006">AngularJS入门教程</a>, <a href="https://docs.angularjs.org/tutorial">英文版</a>
</p>

<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1"><a href="xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html"><span class="section-number-2">1</span> 01和02,静态模板和AngularJS模板</a></h2>
<div class="outline-text-2" id="text-1">
<p>
在HTML里面用np-app来定义Angular的上下文,可以用
<code>ng-app="AAA"</code> 来制定一个名字空间.JS中
通过这个名字来获取HTML里的上下文 <code>var AAA = angular.module('AAA',
   []);</code>.
</p>

<p>
在HTML中Angular的范围内,用
<code>ng-controller="BBB"</code>标记一个div,在里
面用一些Angular命令(ng-repeat)和表达式设定显示方式.在JS里面用
<code>AAA.controller('BBB',function ...)</code> 给Angular表达式中的域赋值.
</p>

<p>
<i>AAA</i> 中的 <code>$scope$</code> 是AAA的根作用域,控制器的作用域则在 <i>BBB</i> 之中.也
就是说,如果在AAA下面有多个 <i>controller</i>, <i>controller X</i> 的数据绑定
在 <i>controller Y</i> 下是无效的. <a href="http://docs.angularjs.org/api/ng.$rootScope.Scope">AngularJS作用域文档</a>.
</p>

<p>
略:AngularJS的开发者倾向于使用 <i>Jasmine</i> 行为驱动开发(BBD)框架进行
测试.
</p>

<p>
<i><b>写在后面,对angular.module是所有JS中创建,注册和获取模组的地方.HTML里
面通过ng-app=&#8221;AA&#8221;来绑定模组AA的上下文</b></i>
</p>
</div>
</div>

<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> 03 迭代器</h2>
<div class="outline-text-2" id="text-2">
<p>
建立输入表单 <code>&lt;input
ng-model="query"&gt;</code> ,修改 <code>ng-repeat</code> 为
<code>&lt;li ng-repeat="x in
list|filter:query"&gt;</code>.只要在输入框里输入文本,就会自动
地修改列表,只显示包含这个文本的项目.这代表两点:1. 数据绑定同名变量
query,值的同步是实时的; 2.filter过滤器,生成新数组,自动更新视图.
</p>

<p>
略:Angular端到端测试.
</p>
</div>
</div>

<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3"><span class="section-number-2">3</span> 04双向绑定</h2>
<div class="outline-text-2" id="text-3">
<p>
在HTML里面添加选择器
</p>
<div class="org-src-container">

<pre class="src src-html">&lt;<span style="color: #b58900;">select</span> <span style="color: #6c71c4;">ng-model</span>=<span style="color: #2aa198;">"orderProp"</span>&gt;
  &lt;<span style="color: #b58900;">option</span> <span style="color: #6c71c4;">value</span>=<span style="color: #2aa198;">"name"</span>&gt;Alphabetical&lt;/<span style="color: #b58900;">option</span>&gt;
  &lt;<span style="color: #b58900;">option</span> <span style="color: #6c71c4;">value</span>=<span style="color: #2aa198;">"age"</span>&gt;Newest&lt;/<span style="color: #b58900;">option</span>&gt;
&lt;/<span style="color: #b58900;">select</span>&gt;
</pre>
</div>
<p>
同时在迭代器中加入条件
<code>&lt;li ng-repeat="phone in phones | filter:query |
orderBy:orderProp"&gt;</code>
</p>

<p>
JS中给每个数据加上 <i>age</i> 这个属性,同时设定
<code>$scope.orderProp = 'age'</code>设定选择器
的默认值.
</p>

<p>
<code>select</code> 的元素和 <code>orderProp</code> 之间建立了双向绑定.
</p>
</div>
</div>

<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4"><span class="section-number-2">4</span> 05XHR和依赖注入</h2>
<div class="outline-text-2" id="text-4">
<p>
通过 <code>$http.get(AA/BB.json)</code> 来读取json文件. <i>$http</i> 是AngularJS提
供的内建服务,通过依赖注入DI子系统.
</p>
<div class="org-src-container">

<pre class="src src-javascript">phonecatApp.controller<span style="color: #657b83;">(</span><span style="color: #2aa198;">'PhoneListCtrl'</span>, <span style="color: #2aa198;">[</span><span style="color: #2aa198;">'$scope'</span>, <span style="color: #2aa198;">'$http'</span>, <span style="color: #859900;">function</span><span style="color: #b58900;">(</span><span style="color: #6c71c4;">$scope</span>, <span style="color: #6c71c4;">$http</span><span style="color: #b58900;">)</span> <span style="color: #b58900;">{</span>
    $http.get<span style="color: #859900;">(</span><span style="color: #2aa198;">'phones/phones.json'</span><span style="color: #859900;">)</span>.success<span style="color: #859900;">(</span><span style="color: #859900;">function</span><span style="color: #268bd2;">(</span><span style="color: #6c71c4;">data</span><span style="color: #268bd2;">)</span> <span style="color: #268bd2;">{</span>
        $scope.phones = data;
    <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>;
<span style="color: #b58900;">}</span><span style="color: #2aa198;">]</span><span style="color: #657b83;">)</span>;
</pre>
</div>
</div>
</div>

<div id="outline-container-sec-5" class="outline-2">
<h2 id="sec-5"><span class="section-number-2">5</span> 06链接与图片模板</h2>
<div class="outline-text-2" id="text-5">
<div class="org-src-container">

<pre class="src src-html">&lt;<span style="color: #b58900;">ul</span> <span style="color: #6c71c4;">class</span>=<span style="color: #2aa198;">"phones"</span>&gt;
  &lt;<span style="color: #b58900;">li</span> <span style="color: #6c71c4;">ng-repeat</span>=<span style="color: #2aa198;">"phone in phones | filter:query | orderBy:orderProp"</span> <span style="color: #6c71c4;">class</span>=<span style="color: #2aa198;">"thumbnail"</span>&gt;
    &lt;<span style="color: #b58900;">a</span> <span style="color: #6c71c4;">href</span>=<span style="color: #2aa198;">"#/phones/"</span> <span style="color: #6c71c4;">class</span>=<span style="color: #2aa198;">"thumb"</span>&gt;&lt;<span style="color: #b58900;">img</span> <span style="color: #6c71c4;">ng-src</span>=<span style="color: #2aa198;">""</span>&gt;&lt;/<span style="color: #b58900;">a</span>&gt;
    &lt;<span style="color: #b58900;">a</span> <span style="color: #6c71c4;">href</span>=<span style="color: #2aa198;">"#/phones/"</span>&gt;&lt;/<span style="color: #b58900;">a</span>&gt;
    &lt;<span style="color: #b58900;">p</span>&gt;&lt;/<span style="color: #b58900;">p</span>&gt;
  &lt;/<span style="color: #b58900;">li</span>&gt;
&lt;/<span style="color: #b58900;">ul</span>&gt;
</pre>
</div>
</div>
</div>

<div id="outline-container-sec-6" class="outline-2">
<h2 id="sec-6"><span class="section-number-2">6</span> 07路由与多视图 &amp; 08更多模板</h2>
<div class="outline-text-2" id="text-6">
<p>
用 <code>$routeProvider</code> 重定向url,把某个url路径定向到某个HTML模板上去,
并指定相对应的controller. <i>index.html</i> 中定义一个域,加载所有JS文件.加
载的 <i>app.js</i> 设定重定向规则.
</p>
<div class="org-src-container">

<pre class="src src-javascript">phonecatApp.config<span style="color: #657b83;">(</span><span style="color: #2aa198;">[</span><span style="color: #2aa198;">'$routeProvider'</span>,
  <span style="color: #859900;">function</span><span style="color: #b58900;">(</span><span style="color: #6c71c4;">$routeProvider</span><span style="color: #b58900;">)</span> <span style="color: #b58900;">{</span>
    $routeProvider.
      when<span style="color: #859900;">(</span><span style="color: #2aa198;">'/phones'</span>, <span style="color: #268bd2;">{</span>
        templateUrl: <span style="color: #2aa198;">'partials/phone-list.html'</span>,
        controller: <span style="color: #2aa198;">'PhoneListCtrl'</span>
      <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>.
      when<span style="color: #859900;">(</span><span style="color: #2aa198;">'/phones/:phoneId'</span>, <span style="color: #268bd2;">{</span>
        templateUrl: <span style="color: #2aa198;">'partials/phone-detail.html'</span>,
        controller: <span style="color: #2aa198;">'PhoneDetailCtrl'</span>
      <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>.
      otherwise<span style="color: #859900;">(</span><span style="color: #268bd2;">{</span>
        redirectTo: <span style="color: #2aa198;">'/phones'</span>
      <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>;
  <span style="color: #b58900;">}</span><span style="color: #2aa198;">]</span><span style="color: #657b83;">)</span>;
</pre>
</div>
<p>
<code>:phoneId</code> 是从将URL路径的对应部分作为变量.这个变量通过
<code>$routeParams</code> 来访问.
</p>

<p>
最后,在index.html里面加上 <code>&lt;div ng-view&gt;&lt;/div&gt;</code> 来为当前路由把对应
视图加上去.
</p>

<p>
<i>08更多模板</i> 之中用 <i>$http</i> 加载不同的json文件来根据phoneId生成每
部手机的细节说明网页.
</p>
</div>
</div>

<div id="outline-container-sec-7" class="outline-2">
<h2 id="sec-7"><span class="section-number-2">7</span> 09过滤器</h2>
<div class="outline-text-2" id="text-7">
<p>
建立自己的 <i>filter FF</i>,实现更复杂的规则,然后像之前使用 <code>| filter:query</code>
一样用类似pipe的语法把输出传给自己的filter <code>| FF</code>.filter并不限定在
<i>ng-repeat</i> 中使用.
</p>
<div class="org-src-container">

<pre class="src src-javascript">angular.module<span style="color: #657b83;">(</span><span style="color: #2aa198;">'phonecatFilters'</span>, <span style="color: #2aa198;">[]</span><span style="color: #657b83;">)</span>.filter<span style="color: #657b83;">(</span><span style="color: #2aa198;">'checkmark'</span>, <span style="color: #859900;">function</span><span style="color: #2aa198;">()</span> <span style="color: #2aa198;">{</span>
  <span style="color: #859900;">return</span> <span style="color: #859900;">function</span><span style="color: #b58900;">(</span><span style="color: #6c71c4;">input</span><span style="color: #b58900;">)</span> <span style="color: #b58900;">{</span>
    <span style="color: #859900;">return</span> input ? <span style="color: #2aa198;">'</span><span style="color: #6c71c4;">\u</span><span style="color: #2aa198;">2713'</span> : <span style="color: #2aa198;">'</span><span style="color: #6c71c4;">\u</span><span style="color: #2aa198;">2718'</span>;
  <span style="color: #b58900;">}</span>;
<span style="color: #2aa198;">}</span><span style="color: #657b83;">)</span>;
</pre>
</div>

<p>
<a href="http://code.angularjs.org/1.1.0/docs/api/ng.$filter">AngularJS内置过滤器</a> <i>uppercase</i>, <i>json</i>, <i>date</i>,
<i>date:&#8221;MM/dd/yyy@ h:mma&#8221;</i>.
</p>
</div>
</div>

<div id="outline-container-sec-8" class="outline-2">
<h2 id="sec-8"><span class="section-number-2">8</span> 10事件</h2>
<div class="outline-text-2" id="text-8">
<p>
通过JS在上下文中定义函数,通过 <code>ng-click</code> 来设定点击事件,调用函数.
</p>
<div class="org-src-container">

<pre class="src src-javascript">phonecatControllers.controller<span style="color: #657b83;">(</span><span style="color: #2aa198;">'PhoneDetailCtrl'</span>, <span style="color: #2aa198;">[</span><span style="color: #2aa198;">'$scope'</span>, <span style="color: #2aa198;">'$routeParams'</span>, <span style="color: #2aa198;">'$http'</span>,
  <span style="color: #859900;">function</span><span style="color: #b58900;">(</span><span style="color: #6c71c4;">$scope</span>, <span style="color: #6c71c4;">$routeParams</span>, <span style="color: #6c71c4;">$http</span><span style="color: #b58900;">)</span> <span style="color: #b58900;">{</span>
    $http.get<span style="color: #859900;">(</span><span style="color: #2aa198;">'phones/'</span> + $routeParams.phoneId + <span style="color: #2aa198;">'.json'</span><span style="color: #859900;">)</span>.success<span style="color: #859900;">(</span><span style="color: #859900;">function</span><span style="color: #268bd2;">(</span><span style="color: #6c71c4;">data</span><span style="color: #268bd2;">)</span> <span style="color: #268bd2;">{</span>
      $scope.phone = data;
      $scope.mainImageUrl = data.images<span style="color: #657b83;">[</span>0<span style="color: #657b83;">]</span>;
    <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>;

    $scope.setImage = <span style="color: #859900;">function</span><span style="color: #859900;">(</span><span style="color: #6c71c4;">imageUrl</span><span style="color: #859900;">)</span> <span style="color: #859900;">{</span>
      $scope.mainImageUrl = imageUrl;
    <span style="color: #859900;">}</span>
  <span style="color: #b58900;">}</span><span style="color: #2aa198;">]</span><span style="color: #657b83;">)</span>;
</pre>
</div>
<p>
<code>$scope.setImage</code> 就是绑定的函数.
</p>
<div class="org-src-container">

<pre class="src src-html">&lt;<span style="color: #b58900;">img</span> <span style="color: #6c71c4;">ng-src</span>=<span style="color: #2aa198;">""</span> <span style="color: #6c71c4;">class</span>=<span style="color: #2aa198;">"phone"</span>&gt;

...

&lt;<span style="color: #b58900;">ul</span> <span style="color: #6c71c4;">class</span>=<span style="color: #2aa198;">"phone-thumbs"</span>&gt;
  &lt;<span style="color: #b58900;">li</span> <span style="color: #6c71c4;">ng-repeat</span>=<span style="color: #2aa198;">"img in phone.images"</span>&gt;
    &lt;<span style="color: #b58900;">img</span> <span style="color: #6c71c4;">ng-src</span>=<span style="color: #2aa198;">""</span> <span style="color: #6c71c4;">ng-click</span>=<span style="color: #2aa198;">"setImage(img)"</span>&gt;
  &lt;/<span style="color: #b58900;">li</span>&gt;
&lt;/<span style="color: #b58900;">ul</span>&gt;
</pre>
</div>
<p>
点击图片的时候调用函数,把 <code>mainImageUrl</code> 的值设定为当前图片.
</p>
</div>
</div>

<div id="outline-container-sec-9" class="outline-2">
<h2 id="sec-9"><span class="section-number-2">9</span> 11Rest和定制服务</h2>
<div class="outline-text-2" id="text-9">
<p>
依赖为 <i>angular-resource/angular-resource.js</i>.一般我们的JS相应功能
命名为 <i>XXXService</i>.首先注册 <i>Service</i> 模块.
</p>
<div class="org-src-container">

<pre class="src src-javascript"><span style="color: #859900;">var</span> <span style="color: #6c71c4;">phonecatServices</span> = angular.module<span style="color: #657b83;">(</span><span style="color: #2aa198;">'phonecatServices'</span>, <span style="color: #2aa198;">[</span><span style="color: #2aa198;">'ngResource'</span><span style="color: #2aa198;">]</span><span style="color: #657b83;">)</span>;

phonecatServices.factory<span style="color: #657b83;">(</span><span style="color: #2aa198;">'Phone'</span>, <span style="color: #2aa198;">[</span><span style="color: #2aa198;">'$resource'</span>,
  <span style="color: #859900;">function</span><span style="color: #b58900;">(</span><span style="color: #6c71c4;">$resource</span><span style="color: #b58900;">){</span>
    <span style="color: #859900;">return</span> $resource<span style="color: #859900;">(</span><span style="color: #2aa198;">'phones/:phoneId.json'</span>, <span style="color: #268bd2;">{}</span>, <span style="color: #268bd2;">{</span>
      query: <span style="color: #657b83;">{</span>method:<span style="color: #2aa198;">'GET'</span>, params:<span style="color: #2aa198;">{</span>phoneId:<span style="color: #2aa198;">'phones'</span><span style="color: #2aa198;">}</span>, isArray:<span style="color: #268bd2;">true</span><span style="color: #657b83;">}</span>
    <span style="color: #268bd2;">}</span><span style="color: #859900;">)</span>;
  <span style="color: #b58900;">}</span><span style="color: #2aa198;">]</span><span style="color: #657b83;">)</span>;
</pre>
</div>
<p>
建立一个 <i>Phone</i> 工厂,用 <i>$resource</i> 来取得数据.相应的controller改
为<code>$scope.phone =
Phone.get({phoneId:$routeParams.phoneId})</code>和
<code>$scope.phones = Phone.query()</code>.
</p>

<p>
<code>query</code> 方法是自己声明和定义的 <code>query: {method:'GET', params:{phoneId:'phones'}, isArray:true}</code>.
</p>
</div>
</div>

<div id="outline-container-sec-10" class="outline-2">
<h2 id="sec-10"><span class="section-number-2">10</span> 12 Animations</h2>
<div class="outline-text-2" id="text-10">
<p>
???
</p>

<p>
更多的教程 <a href="http://angularjs.cn/tag/AngularJS_%E5%BC%80%E5%8F%91%E6%8C%87%E5%8D%97">开发指南</a> 和 <a href="http://docs.angularjs.org/cookbook/index">Cookbook</a>. 推荐使用<a href="https://github.com/angular/angular-seed">AngularJS种子项目</a>来引导开发新项目
</p>
</div>
</div>
</div>


      <footer>
        <p class="meta text-muted">
          
  

<span class="glyphicon glyphicon-user"></span> <span class="byline author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">Posted by <span class="fn" itemprop="name">Xiao Liu</span></span>

          












<span class="glyphicon glyphicon-calendar"></span> <time datetime="2014-12-24T00:00:00+01:00"  data-updated="true" itemprop="datePublished dateCreated">ordinal</time>
          

<span class="glyphicon glyphicon-tags"></span>&nbsp;
<span class="categories">
  
    <a class='category' href='/blog/categories/web/'>web</a>
  
</span>


        </p>
        
          <div class="sharing">
  
  <a href="//twitter.com/share" class="twitter-share-button" data-url="http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html" data-via="" data-counturl="http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html" >Tweet</a>
  
  
  
</div>

        
        
          <ul class="meta text-muted pager">
            
            <li class="previous"><a href="/blog/2014-12-22-.html" title="Previous Post: 背景知识">&laquo; 背景知识</a></li>
            
            
            <li class="next"><a href="/blog/2014-12-25-angularjs-developer-guide-.html" title="Next Post: AngularJS Developer Guide 开发指南学习笔记">AngularJS Developer Guide 开发指南学习笔记 &raquo;</a></li>
            
          </ul>
        
      </footer>
    </article>
    
      <section>
        <h2>Comments</h2>
        <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
      </section>
    
  </div>

  
  <aside class="sidebar col-md-3">
    
      <section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Posts</h3>
  </div>
  
  <div id="recent_posts" class="list-group">
    
    <a class="list-group-item " href="/blog/2014-12-25-angularjs-developer-guide-.html">AngularJS Developer Guide 开发指南学习笔记</a>
    
    <a class="list-group-item active" href="/blog/2014-12-24-angularjs-tutorial-.html">AngularJS Tutorial 入门教程学习笔记</a>
    
    <a class="list-group-item " href="/blog/2014-12-22-.html">背景知识</a>
    
    <a class="list-group-item " href="/blog/2014-12-18-drilljava.html">Drill的Java后端</a>
    
    <a class="list-group-item " href="/blog/2014-11-26-parallelism.html">Parallelism</a>
    
  </div>
</section>

<section class="panel panel-default clearfix">
  <div class="panel-heading">
      <h3 class="panel-title">GitHub Repos</h3>
  </div>
  <div class="list-group" id="gh_repos">
    <p class="loading">Status updating&#8230;</p>
  </div>
  
    <div class="gh-profile-link pull-right text-muted">
      <a href="https://github.com/xiaoliuai">@xiaoliuai</a> on GitHub
    </div>
  
  <script type="text/javascript">
    $(document).ready(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'xiaoliuai',
            count: 2,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>





<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="list-group">
    
    
    <a class="list-group-item " href="/blog/categories/geek/index.html">
        <span class="badge">2</span>
        geek
      </a>
    
    
    <a class="list-group-item " href="/blog/categories/parallelism/index.html">
        <span class="badge">1</span>
        parallelism
      </a>
    
    
    <a class="list-group-item " href="/blog/categories/web/index.html">
        <span class="badge">4</span>
        web
      </a>
    
  </div>
</section>
<section class="panel panel-default">
        <div class="panel-heading">
                <h2 class="panel-title">标签列表</h2>
        </div>
        <div class="list-group">
                        <ul class="tag-cloud">
                                <a style="font-size: 210%" href="/tags/angularjs/">AngularJS</a>
<a style="font-size: 210%" href="/tags/github/">GitHub</a>
<a style="font-size: 90%" href="/tags/jsp/">JSP</a>
<a style="font-size: 90%" href="/tags/java/">Java</a>
<a style="font-size: 90%" href="/tags/jekyll/">Jekyll</a>
<a style="font-size: 90%" href="/tags/mpi/">MPI</a>
<a style="font-size: 90%" href="/tags/matlab/">Matlab</a>
<a style="font-size: 90%" href="/tags/octave/">Octave</a>
<a style="font-size: 90%" href="/tags/octopress/">Octopress</a>
<a style="font-size: 210%" href="/tags/org-mode/">Org-mode</a>

                        </ul>
        </div>
</section>

    
  </aside>
  
</div>

        </div>
      </div>
    </div>
    <footer role="contentinfo"><div class="container">
    <p class="text-muted credits">
  Copyright &copy; 2014 - Xiao Liu<br>
  <small>
      <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
  </small>
</p>

</div>
</footer>
    

<script type="text/javascript">
      var disqus_shortname = 'xiaoliuaigithubio';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html';
        var disqus_url = 'http://xiaoliuai.github.io/blog/2014-12-24-angularjs-tutorial-.html';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>


<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/modernizr-2.0.js"></script>


  </body>
</html>
